<div class="card border-secondary text-secondary mb-3 d-flex profile">
  <div class="row no-gutters">
    <div class="col-2 card-img p-2 profile-image">
      <%= gravatar_for user, size:60 %>
    </div>
    <div class="col-9 card-body d-flex personal-info justify-content-between">
      <span class="user"><%= link_to user.full_name, user %></span>
      <div>
          <% if current_page?(users_path) %>
              <%= form_for(@friendship, url: friendships_path) do |form| %>
              <%= render partial: 'friendships/friendship_form', locals: { f: form,  friend: user } %>
              <% end %>
          <% else %>
              <% if !current_user_friendships.friend?(user) && current_user != user && !current_user_friendships.pending_friends.include?(user) %>
                  <%= form_for(friendship_requested(user) , url: friendship_path(friendship_requested(user) )) do |form| %>
                      <%= render partial: 'friendships/friendship_form', locals: { f: form,  friend: user } %>
                  <% end %>
              <% end %>
              <%= delete_friend_link(user) %>
          <% end %>
      </div>
    </div>
  </div>
</div>