<div class="row m-0 py-2">
  <div class="col-5 profile">
    <div class="d-flex">
      <div class="card-img profile-image">
        <%= gravatar_for @user, size:200 %>
      </div>
      <div class="card-body personal-info">
        <p><%= @user.first_name%></p>
        <p><%= @user.last_name%></p>
        <p><%= @user.email%></p>
      </div>
    </div>
  </div>
  <div class=" col-7 personal-posts">
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </div>
  <h3> My Friends</h3>
  <div>
    <%= render @user.friends.sample(9) %>
  </div>

</div>
