<li class="card border-secondary text-secondary mb-3" id="post-<%= post.id %>">
  <div class="card-header">
    <%= link_to gravatar_for(post.user, size: 50), post.user %>
    <span class="user"><%= link_to post.user.full_name, post.user %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(post.date_post) %> ago.
    </span>
  </div>
  <div class="card-body">
    <span class="content"><%= post.content %></span>
  </div>
  <%= edit_delete_links_post(post) %>
  <%= likes_total_comments(post) %>

  <% if current_page?(root_path) %>

  <div id="collapse<%= post.id %>" class="collapse"  aria-labelledby="headingOne">
    <ul class="card-body">
      <%= render post.comments %>
    </ul>
  </div>
  <div class="card-body">
    <%= form_for(@comment, url: comments_path) do |form| %>
    <%= render partial: 'comments/comment_form', locals: { f: form, post: post } %>
    <% end %>
  </div>
<% end %>
</li>

